@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* all */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  overflow: revert;
}

a {
  text-decoration: none;
}

/* header */
header {
  display: flex;
  flex-direction: row;
}

#header_left {
  width: 50%;
}
#header_left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}
#header_right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#header_right_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header_right_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header_right_bottom h1 {
  color: #156963;
}
#header_right_bottom p {
  color: #2c1500;
}

/* menu */
#help_for_nav {
  width: 45%;
}

nav {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .nav_icon {
  color: black;
  transition: transform 200ms ease 0s;
}
nav #log_in {
  color: #156963;
  font-weight: bold;
}
nav #log_in::after {
  display: block;
  content: " ";
  border-bottom: 2px solid;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
nav #log_in:hover::after {
  transform: scaleX(1);
}
nav #sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #156963;
  transition: transform 200ms ease 0s;
}
nav #sign_up:hover, nav #sign_up .nav_icon:hover {
  transform: translateY(-2px);
}

/* main */
main {
  display: flex;
  flex-direction: column;
}

/* compony benefits */
#benefits {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
#benefits .benefits_box {
  border: 1px solid #e0e0e0;
}
#benefits .benefits_box_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #156963;
}
#benefits .benefits_box_top h3 {
  font-weight: bold;
  text-transform: capitalize;
}
#benefits .benefits_box_bottom p {
  margin: 0;
}

/* featured plants */
#featured_plants_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured_plants hr {
  border: none;
  background-color: #e0e0e0;
  height: 1px;
  width: 100%;
  margin: 0;
}

/* featured plants gallary */
#plants_galary {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.galary_item #kaktus {
  background: url("../images/featured kaktus.png"), #f3f4f6;
  background-position: 50% 65%;
  background-size: 185%;
}
.galary_item #landak {
  background: url("../images/featured landark.png"), #f3f4f6;
  background-position: 50% 0%;
  background-size: 100%;
}
.galary_item #kecubung_1 {
  background: url("../images/featured kecubung 1.png"), #f3f4f6;
  background-position: 50% 50%;
  background-size: 120%;
}
.galary_item #kecubung_2 {
  background: url("../images/featured kecubung 2.png"), #f3f4f6;
  background-position: 50% -20%;
  background-size: 130%;
}
.galary_item #kecubung_3 {
  background: url("../images/featured kecubung 3.png"), #f3f4f6;
  background-position: 50% 0%;
  background-size: 200%;
}
.galary_item_price {
  font-weight: bold;
  margin: 0;
}

/* buy more plants */
#buy_more {
  display: flex;
  flex-direction: row;
}
#buy_more_left {
  width: 50%;
  color: #2c1500;
}
#buy_more_left h2 {
  margin: 0;
  line-height: 1.4;
}
#buy_more_left p {
  line-height: 1.75;
}
#buy_more_left_photo {
  background: url("../images/buy more left.png");
  background-size: 115%;
  background-position: 30% 55%;
}
#buy_more_right {
  width: 50%;
  background: url("../images/buy more right.png");
  background-size: 100%;
  background-position: 50% 100%;
}

/* visit shop */
#visit_shop {
  display: flex;
  flex-direction: row;
  background-color: #f3f4f6;
}
#visit_shop_left h2 {
  color: #2c1500;
  line-height: 1.4;
  margin: 0;
}
#visit_shop_left a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #156963;
  transition: transform 200ms ease 0s;
}
#visit_shop_left a:hover {
  transform: translateY(-2px);
}
#visit_shop_right {
  background: url("../images/visit shop.png");
  background-size: 95%;
  background-position: 0% 65%;
  transform: scaleX(-1);
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #b9d3d1;
  width: 100%;
}
footer h3 {
  color: #156963;
}
footer h4 {
  color: #333;
}
footer p {
  line-height: 1.54;
}
footer form input {
  border: none;
}
footer form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #156963;
  border: 1px solid #156963;
  transition: transform 200ms ease 0s;
  color: white;
}
footer form button:hover {
  transform: translateY(-2px);
}
footer form #mobile_button {
  display: none;
}/*# sourceMappingURL=style.css.map */